{% if site.data.docs_toc.toc[0] %}
  {% for item in site.data.docs_toc.toc %}
    {% if page.url == item.url%}
      <h4 class="docs-nav-item active">
    {% else %}
      <h4 class="docs-nav-item">
    {% endif %}
        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      </h4>

    {% if item.children[0] %}
      {% for child_item in item.children %}
        {% if page.url == child_item.url %}
          <h5 class="docs-nav-sub-item active">
        {% else %}
          <h5 class="docs-nav-sub-item">
        {% endif %}
            <a href="{{ site.baseurl }}{{ child_item.url }}">
              {{ child_item.title }}
            </a>
          </h5>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
